
#navbar
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px

#header
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px


#about
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px


#tours
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px


#rents
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px

#testimonials
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px


#gallery
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px


#contacts
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px

#footer
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		padding: 20px 10px
	@media screen and (min-width: $md) and (max-width: $lg - 1)
		padding: 30px 20px
	@media screen and (min-width: $lg)
		padding: 40px 30px





