.button
	border: 1.25px solid $dark-blue
	border-radius: 10px
	background-color: $dark-blue

#header
	.button
		padding: 10px 20px

#gallery
	button
		border: 1.25px solid $pink
		border-radius: 10px
		background-color: $pink
		padding: 2% 10%
		color: $white

