#intro__booking
	display: grid
	grid-template-rows: 2fr 1fr 3fr 3fr 1fr
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		grid-template-columns: 1fr
	@media screen and (min-width: $md)
		grid-template-columns: 1fr 1fr 1fr

.cll__logo
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		grid-row-start: 1
		grid-row-end: 2
		grid-column-start: 1
		grid-column-end: 2
	img
		max-width: 100%
		height: auto

.cll__title
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		grid-row-start: 2
		grid-row-end: 3
		grid-column-start: 1
		grid-column-end: 2

.cll__photos
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		grid-row-start: 3
		grid-row-end: 4
		grid-column-start: 1
		grid-column-end: 2

.cll__description
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		grid-row-start: 4
		grid-row-end: 5
		grid-column-start: 1
		grid-column-end: 2

.staff
	@media screen and (min-width: $xs) and (max-width: $md - 1)
		grid-row-start: 5
		grid-row-end: 6
		grid-column-start: 1
		grid-column-end: 2









