	<div id="footer" class="container">
		<div class="footer__box container">

			<div class="footer__logo" href="#top">
				<img class="footer__image" src="/assets/cll-white.png">
			</div>

			<div class="footer__info">
				<div class="footer__maisinfo">
					<h4>MAIS INFORMAÇÔES</h4>
				</div>
				<a class="footer__phone" href="tel:+351969999999">
					<p class="hover__effect">+351969999999</p>
				</a>
				<a class="footer__email" href="mailto:booking@coastlinelovers.com">
					<p class="hover__effect">booking@coastlinelovers.com</p>
				</a>
				<a class="footer__street" href="geo:37.132068,-8.534177">
					<p class="hover__effect">Clube Naval de Portimão, Portimão 8500</p>
				</a>
			</div>
			
			<div class="footer__nav">
				<div class="footer__menu" href="#top">
					<h4>MENU</h4>
				</div>
				<div class="footer__about" href="#about">
					<p class="hover__effect">SOBRE NÓS</p>
				</div>
				<div class="footer__tours" href="#tours">
					<p class="hover__effect">TOURS</p>
				</div>
				<div class="footer__rents" href="#rents">
					<p class="hover__effect">RENTS</p>
				</div>
				<div class="footer__testimonials" href="#testimonials">
					<p class="hover__effect">TESTEMUNHOS</p>
				</div>
				<div class="footer__gallery" href="#gallery">
					<p class="hover__effect">GALERIA</p>
				</div>
				<div class="footer__contacts" href="#contacts">
					<p class="hover__effect">FALE CONNOSCO</p>
				</div>
			</div>

			<div class="footer__icons">
				<a class="footer__icon-1" href="">
					<i class="fab fa-youtube fa-2x hover__effect"></i>
				</a>
				<a class="footer__icon-2" href="https://www.instagram.com/coastlinelovers/">
					<i class="fab fa-instagram fa-2x hover__effect"></i>
				</a>
				<a class="footer__icon-3" href="https://www.facebook.com/coastlinelovers/?ref=br_rs">
					<i class="fab fa-facebook-square fa-2x hover__effect"></i>
				</a>
			</div>

		</div>

		<div id="trademark">
			<div class="my__mark container trade-1" style="text-align: left">
				<a class="hover__effect" href="" style="color: $white">
					<p>RNAAT: 373/2014</p>
				</a>
			</div>
			<div class="my__mark container trade-2" style="text-align: right">
				<a class="hover__effect" href="https://www.iamdiogoribeiro.com/" style="color: $white">
					<p>Made by Digital Studio</p>
				</a>
			</div>
		</div>

	</div>
	
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/a1645ab757.js" crossorigin="anonymous"></script>

</body>
</html>






